<!DOCTYPE html>
<html>
  <head><title>ejs example</title></head>
  <body>
    <h1><%= name %></h1>
    <div>
      <p>Welcome to <%= name %></p>
      <p>it is a new <%= name %></p>
    </div>
    <div>
      用户名: <input type="password"/>
    </div>
    <div>
      密码: <input type="text" />
    </div>
  </body>
</html>