<!DOCTYPE html>
<html>
  <head><title>ejs example</title></head>
  <body>
    <h1>购物中心</h1>
    <div>
      <p>Welcome </p>
      <p>it is a supermarket</p>
    </div>
    <div>
      用户名: <input type="password"/>
    </div>
    <div>
      密码: <input type="text" />
    </div>
  </body>
  <script>

  </script>
</html>